<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-iconset-svg/iron-iconset-svg.html">
<iron-iconset-svg name="ps-buttons" size="18">

<svg>
	<defs>
		<g id="square">
			<rect x="3" y="3" fill="none" stroke="#FF69F8" stroke-width="2" width="12" height="12"></rect>
		</g>

		<g id="circle">
			<circle fill="none" stroke="#FF6666" stroke-width="2" cx="9.5" cy="8.5" r="6.25"></circle>
		</g>

		<g id="triangle">
		  <path fill="#40E2A0" d="M17.49 14.655L8.99.125.5 14.645l16.99.01zM8.97 3.985l4.89 8.57H4.13l4.84-8.57z"/>
		</g>

		<g id="x">
			<line stroke="#7CB2E8" stroke-width="2" x1="2.5" y1="3" x2="15.5" y2="16"></line>
			<line stroke="#7CB2E8" stroke-width="2" x1="15.5" y1="3" x2="2.5" y2="16"></line>
		</g>
	</defs>
</svg>