<dom-module id="joystick-stick">
  <!-- // <script src="../../bower_components/draggabilly/dist/draggabilly.pkgd.min.js"></script> -->

  <template>
    <style>
      :host {
        position: absolute;
        box-sizing: border-box;
        display: block;
        width: 240px;
        height: 240px;
        border-radius: 120px;
        /*background: radial-gradient(ellipse at center, hsla(240,3%,28%,1) 30%, hsla(240,3%,19%,1) 73%);*/
        /*border: 4px solid hsla(0,0%,19%,1);*/
        /*box-shadow: 0 0px 16px rgba(0,0,0,0.3) inset;*/
      }

      :host([pressed]) {
      }

      :host([disabled])
      {
      }

      handle {
        position: absolute;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background: hsl(240,3%,38%);
        /*opacity: 0.5;*/
        background: radial-gradient(ellipse at center, 
          hsl(240, 3%, 35%) 0%, 
          hsl(240, 3%, 36%) 41%, 
          hsl(240, 3%, 31%) 61%);
        /*border: 4px solid hsla(0,0%,24%,1);*/
        /*left: calc(50% - 30px - 0px);*/
        /*top: calc(50% - 30px - 0px);    */
        left: 25%;
        top: 25%;
        box-shadow: 0 0 16px rgba(0,0,0,0.3);
        /*transition: all 0.1s linear;*/
      }      
    </style>


<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg xmlns="http://www.w3.org/2000/svg" id="svg2" viewBox="0 0 220 220" version="1.1">
  <defs id="defs4">
    <filter id="filter3061" color-interpolation-filters="sRGB">
      <feFlood id="feFlood3063" result="flood" flood-opacity="0.19" flood-color="rgb(0,0,0)"/>
      <feComposite id="feComposite3065" operator="in" result="composite1" in2="SourceGraphic" in="flood"/>
      <feGaussianBlur id="feGaussianBlur3067" stdDeviation="4" result="blur"/>
      <feOffset id="feOffset3069" result="offset" dx="0" dy="2"/>
      <feComposite id="feComposite3071" operator="over" result="composite2" in2="offset" in="SourceGraphic"/>
    </filter>
    <radialGradient id="radialGradient3847" spreadMethod="reflect" gradientUnits="userSpaceOnUse" cy="107.14" cx="100" gradientTransform="matrix(0.7816703,0,0,0.82546738,21.83297,18.699922)" r="105.38">
      <stop id="stop3849" stop-color="#000" offset="0"/>
      <stop id="stop3909" stop-color="#404044" offset="0.79"/>
      <stop id="stop3851" stop-color="#343438" offset="1"/>
    </radialGradient>
    <radialGradient id="radialGradient3949" gradientUnits="userSpaceOnUse" cy="104.88" cx="103.08" r="87.21">
      <stop id="stop3953" stop-color="#535359" offset="0"/>
      <stop id="stop3955" stop-color="#404044" offset="0.73"/>
      <stop id="stop3957" stop-color="#222224" offset="1"/>
    </radialGradient>
  </defs>
  <path id="path2985" d="m185.71 107.14a85.71 90 0 1 1-171.43 0 85.71 90 0 1 1 171.43 0zM185.71 107.14" transform="matrix(1.1186859,0,0,1.0654152,-1.86859,-4.1516)" filter="url(#filter3061)" stroke="#303032" stroke-width="1.79" fill="url(#radialGradient3847)"/>
  <path id="path2987" d="m185.71 107.14a85.71 90 0 1 1-171.43 0 85.71 90 0 1 1 171.43 0z" stroke-opacity="0.31" transform="matrix(0.8063144,0,0,0.7693789,29.36856,27.56654)" stroke="#2e2e31" stroke-width="3.48" fill="url(#radialGradient3949)"/>
</svg>




    <content></content>
    <handle/>

  </template>

  <script>
    // element registration
    Polymer({
      is: "joystick-stick",

      listeners: {
        // 'track': '_track',
        'touchstart': '_track',
        'touchmove': '_track',
        'touchend': '_track',
        
        // 'mousedown': '_track',
        // 'mouseup': '_track',
        // 'mousemove': '_track',
      },

      properties: {
        xaxis: {
          type: String,
          value: 'X',
          reflectToAttribute: true
        },

        yaxis: {
          type: String,
          value: 'Y',
          reflectToAttribute: true
        },

        disabled: {
          type: Boolean,
          value: false,
          notify: true,
          reflectToAttribute: true
        },

        disabled: {
          type: Boolean,
          value: false,
          notify: true,
          reflectToAttribute: true
        },

      },

      _track: function(e) {
        if(this.disabled)
          return;
        // console.log(e);
        var handle = this.$$('handle');

        // if (e.detail.state == 'end') {
        if (e.type == 'touchstart') {
          handle.style.transition = '';
          // return;
        }

        if (e.type == 'touchend') {
          handle.style.transition = 'transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275)';
          handle.style.transform = '';
          $(handle).css({
            'box-shadow': '0 0 16px rgba(0,0,0,0.2)',
            'background': 'radial-gradient(ellipse at center, hsla(240,3%,35%,1) 0%, hsla(240,3%,36%,1) 41%, hsl(240, 3%, 31%) 61%)'
          });
          this.fire('change', {
            xaxis: this.xaxis,
            x: 0,
            yaxis: this.yaxis,
            y: 0,
          });
          return;
        }
        

        const rect = this.getBoundingClientRect();
        // var v = {x: e.detail.dx, yx: e.detail.dy};
        var v = {x: e.targetTouches[0].pageX, y: e.targetTouches[0].pageY};
        v.x = v.x - rect.width * 0.5 - rect.left;
        v.y = v.y - rect.height * 0.5 - rect.top;
        // console.log(v);

        const dw = ($(this).width() - $(handle).width());
        const radius = 0.42 * dw;
        var d = Math.sqrt(v.x * v.x + v.y * v.y);
        if (d > radius) {
          v = {x: v.x / d * radius, y: v.y / d * radius};
        }

        handle.style.transform = 'translate(' + v.x + 'px, ' + v.y + 'px)';

        v = {x: v.x / radius, y: v.y / radius};
        this.fire('change', {
          xaxis: this.xaxis,
          x: v.x,
          yaxis: this.yaxis,
          y: v.y,
        });

        const a = 45;
        handle.style.transform += ' rotateY(' + (-v.x*a) + 'deg) rotateX(' + (v.y*a) + 'deg)';
        
        const s =  Math.min(d / radius, 1) * 25;
        handle.style.background = 'radial-gradient(ellipse at calc(50% + '+ 20*v.x + 'px) calc(50% + ' + 20*v.y + 'px), hsla(240,3%,35%,1) 0%, hsla(240,3%,36%,1) 41%, hsl(240, 3%, 31%) 61%)';
        handle.style.boxShadow = ['0 0 16px rgba(0,0,0,0.3) ',
          -s*v.x + 'px ' + -s*v.y + 'px 8px rgba(0,0,0,0.2)',
          // -this.dragPoint.x*0.7 + 'px ' + -this.dragPoint.y * 0.7 + 'px 2px hsl(240, 3%, 31%)',
          // -this.dragPoint.x*0.75 + 'px ' + -this.dragPoint.y * 0.75 + 'px 8px hsl(240, 3%, 20%)',
          // this.dragPoint.x*0.3 + 'px ' + (this.dragPoint.y + 10) * 1 + 'px 4px rgba(0,0,0,0.2)',
          ].join(', ');

      },


    });
  </script>

</dom-module>